extends ../layout.pug

block js 
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js",
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz",
    crossorigin="anonymous")
  
block contenido
  .container.mt-0
    .row
      .col-md-12(style="margin-bottom: 0px;")
        h4.text-center.mt-0.mb-5 Sistema de Atenciones Médicas  
      .col-md-8.offset-md-2
        .card
          .card-body
            .row
              .col-md-6
                h4 Datos Personales
                ul.list-group.list-group-flush
                  li.list-group-item
                    strong Nombre: 
                    | #{paciente[0].nombre} #{paciente[0].apellido}
                  li.list-group-item
                    strong Fecha de Nacimiento: 
                    | #{paciente[0].fecha_nacimiento}
                  li.list-group-item
                    strong Género: 
                    | #{paciente[0].genero}
                  li.list-group-item
                    strong DNI: 
                    | #{paciente[0].dni}
              .col-md-6
                h4 Contacto
                ul.list-group.list-group-flush
                  li.list-group-item
                    strong Teléfono: 
                    | #{paciente[0].telefono}
                  li.list-group-item
                    strong Email: 
                    | #{paciente[0].Email}
                  li.list-group-item
                    strong Obra Social: 
                    | #{paciente[0].ObraSocial}
                  li.list-group-item
                    strong Estado: 
                    | #{paciente[0].estado ? 'Activo' : 'Inactivo'}

    .row.mt-2
      include tabla_hce.pug


