extends ../layout.pug

block js 
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js",
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz",
    crossorigin="anonymous")
  script(src="/scripts/hcescript.js" defer)

block contenido
  .container.mt-5
    .row
      .col-md-12
        h1.text-center.mt-0.mb-5 Sistema de Atenciones Médicas  
      .col-md-8.offset-md-2
        .card
          .card-body
            .row
              .col-md-6
                h4 Datos Personales
                ul.list-group.list-group-flush
                  li.list-group-item
                    strong Nombre: 
                    | #{paciente[0].nombre} #{paciente[0].apellido}
                  li.list-group-item
                    strong Fecha de Nacimiento: 
                    | #{paciente[0].fecha_nacimiento}
                  li.list-group-item
                    strong Género: 
                    | #{paciente[0].genero}
                  li.list-group-item
                    strong Documento de Identidad: 
                    | #{paciente[0].dni}
              .col-md-6
                h4 Contacto
                ul.list-group.list-group-flush
                  li.list-group-item
                    strong Teléfono: 
                    | #{paciente[0].telefono}
                  li.list-group-item
                    strong Email: 
                    | #{paciente[0].Email}
                  li.list-group-item
                    strong Obra Social: 
                    | #{paciente[0].ObraSocial}
                  li.list-group-item
                    strong Estado: 
                    | #{paciente[0].estado ? 'Activo' : 'Inactivo'}

    .row.mt-4
        
      .col-md-12
        h4.text-center.mt-4 Historia Clínica Electrónica (HCE)
        ul.nav.nav-tabs#hceTabs(role='tablist')
          li.nav-item
            a.nav-link.active#evoluciones-tab(data-bs-toggle="tab" href="#evoluciones" role="tab" aria-controls="evoluciones" aria-selected="true") Evoluciones
          li.nav-item
            a.nav-link#diagnosticos-tab(data-bs-toggle="tab" href="#diagnosticos" role="tab" aria-controls="diagnosticos" aria-selected="false") Diagnósticos
          li.nav-item
            a.nav-link#alergias-tab(data-bs-toggle="tab" href="#alergias" role="tab" aria-controls="alergias" aria-selected="false") Alergias
          li.nav-item
            a.nav-link#antecedentes-tab(data-bs-toggle="tab" href="#antecedentes" role="tab" aria-controls="antecedentes" aria-selected="false") Antecedentes
          li.nav-item
            a.nav-link#habitos-tab(data-bs-toggle="tab" href="#habitos" role="tab" aria-controls="habitos" aria-selected="false") Hábitos
          li.nav-item
            a.nav-link#medicamentos-tab(data-bs-toggle="tab" href="#medicamentos" role="tab" aria-controls="medicamentos" aria-selected="false") Medicamentos

        .tab-content#hceTabsContent
          .tab-pane.fade.show.active#evoluciones(role="tabpanel" aria-labelledby="evoluciones-tab")
            .col-md-12
              //h3.text-center.mt-0 Evoluciones
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    th Hora
                    th Motivo de la consulta
                    th Evolucion
                    th Medico
                tbody
                  each evolucion in evoluciones
                    tr
                      td= evolucion.fecha
                      td= evolucion.hora
                      td= evolucion.motivo
                      td= evolucion.descripcion
                      td= `${evolucion.apellido} ${evolucion.nombre}` 
              
          .tab-pane.fade#diagnosticos(role="tabpanel" aria-labelledby="diagnosticos-tab")
            .col-md-12
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    th Hora
                    th Motivo de la consulta
                    th Diagnostico
                    th Tipo
                    th Medico
                tbody
                  each diagnostico in diagnosticos
                    tr
                      td= diagnostico.fecha
                      td= diagnostico.hora
                      td= diagnostico.motivo
                      td= diagnostico.descripcion
                      td= diagnostico.tipo
                      td= `${diagnostico.apellido} ${diagnostico.nombre}`     
          .tab-pane.fade#alergias(role="tabpanel" aria-labelledby="alergias-tab")
            .col-md-12
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    Th Hora
                    th Motivo de la consulta
                    th Nombre 
                    th Importancia 
                    th fecha desde 
                    th fecha hasta
                    th Medico
                tbody
                  each alergia in alergias
                    tr
                      td= alergia.fecha
                      td= alergia.hora
                      td= alergia.motivo
                      td= alergia.nombre_alergia
                      td= alergia.importancia
                      td= alergia.fecha_desde 
                      td= alergia.fecha_hasta
                      td= `${alergia.apellido} ${alergia.nombre}`      
          .tab-pane.fade#antecedentes(role="tabpanel" aria-labelledby="antecedentes-tab")
            .col-md-12
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    th Hora
                    th Motivo de la consulta
                    th Descripcion
                    th fecha desde 
                    th fecha hasta
                    th Medico
                tbody
                  each antecedente in antecedentes
                    tr
                      td= antecedente.fecha
                      td= antecedente.hora
                      td= antecedente.motivo
                      td= antecedente.descripcion
                      td= antecedente.fecha_desde 
                      td= antecedente.fecha_hasta
                      td= `${antecedente.apellido} ${antecedente.nombre}`      
          .tab-pane.fade#habitos(role="tabpanel" aria-labelledby="habitos-tab")
            .col-md-12
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    th Motivo de la consulta
                    th Hábitos
                    th Medico
          .tab-pane.fade#medicamentos(role="tabpanel" aria-labelledby="medicamentos-tab")
            .col-md-12
              table.table.table-striped 
                thead.table.thead-dark
                  tr
                    th Fecha
                    th MMotivo de la consulta
                    th Medicamentos
                    th Medico

