extends /vistas/layout.pug

block js
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js",
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz",
    crossorigin="anonymous")
  script(src="/scripts/medicosscript.js")

block contenido
  .container
    .row
      .col-md-12
        h1.text-center.mt-5 Bienvenido al Sistema de atenciones médicas  
        h4.text-center.mb-4 Seleccione un profesional

    .row
      .col-md-6.offset-md-3
        select.form-select#medicoSelect
          each medico in medicos
            option(value=medico.id)= `${medico.id} - ${medico.apellido} ${medico.nombre}` 
        button.btn.btn-primary.mt-3(onclick="irAAgenda()") Ir a agenda del Profesional